.body-container {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.reset {
    position: relative;
    top: 30%;
    left: 5%;
    color: black;
    border: none;
}

.game-container {
    margin: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(./images/225679.jpg);
    background-size: cover;
    overflow-y: hidden;
    display: flex;
    flex-flow: row wrap;
}
.cursorPointer {
    cursor: pointer;
}
.imgSize {
    height: 100%;
    width: 100%;

}
.playAgain {
    font-size: 2rem;
    position: absolute;
    left: 58%;
    bottom: 48%;
    z-index: 2;
    font-weight: 600;
    color: white;
    text-decoration: none;
    outline: 0;
    color: white;
    border-bottom: solid 4px transparent;
    -webkit-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    -moz-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    -ms-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    -o-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    transition: color .2s ease-out, border-bottom-color .2s ease-out;
}
.playAgain:hover{
    color: white;
    border-bottom: solid 4px white;;
}

.headerContainer {
    height: 16%;
    font-family: cursive;
    color: white;
    padding-bottom: 0px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    top: 4%;
}
.modal-header {
    color: white;
    justify-content: center;
    font-size: 2rem;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    top: 11%;
    z-index: 2;
    left: 60%;
}
.stats{
    height: 65%;
    width: 15%;
    vertical-align: top;
    background-color: black;
    display: block;
    position: relative;
    left: 4%;
}
#modal {
    display: none;
    z-index: 1;
}
.gif{
    width: 100%;
    position: relative;
    border-radius: 50%;
    z-index: 1;
}

.gameStats {
    font-size: 2.5rem;
    position: relative;
    left: 16%;
    bottom: 8%;
}


.winnerModal {
    position: absolute;
    left: 35%;
    top: 24%;
    display: block;
    width: 32%;

}

.title {
    height: 82%;
    width: 78%;
    font-size: 0;
    display: block;
    position: relative;
    left: 2%;
    bottom: 6%;
}
.container {
    height: 77%;
    font-size: 0;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    left: 21%;
    margin: 0;
}
.boardContainer{
    height: 100%;
    width: 85%;
    display: inline-block;
    background-position: center;
    background-size: cover;
    transform: translate(-50%, -50%);
}
.cardContainer {
    width: 15.6%;
    height: 33.33%;
    display: inline-block;
    position: relative;
    float: left;
}
.card {
    width: 90%;
    height: 96%;
    display: inline-block;
    position: absolute;
    margin: 0;
}



.back{

    background-image: url(https://ih0.redbubble.net/image.464594985.4222/flat,1000x1000,075,f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0


}
.back, .front{
    height: 100%;
    position: absolute;
    width: 100%;


}
.front {
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    box-shadow: 0px -1px 3px #888888

}


.hideCard .back{
    display: none;
}



.attempts {
    padding-right: 16%;
    position: relative;

}
.accuracy {
    padding-right: 16%;
    position: relative;
}
.firstReset {
    position: relative;
    top: 28px;
    text-align: center;
}
.gameButton {
    padding-top: 72px;
    position: absolute;
    width: 55%;
    bottom: 33px;
    left: 220px;
    height: 31px;
    justify-content: center;
    border-radius: 12px;


}

.myResetButton{
    background-color: gold;
    position: relative;
    left: 11%;
    padding: 3%;
    font-size: small;
    box-shadow: 0px 1px 1px 1px black;

}
.playingContainer {
    top: 55%;
    height: 70%;
    width: 64%;
    position: absolute;
    left: 53%;
    transform: translate(-50%, -50%);
    display: inline-block;

}
@media (min-width: 1857px) {
    .container {
        left: 19%;
        height: 78%;
    }
    .playAgain {
        font-size: 2.5rem;
        left: 60%;
        bottom: 40%;
    }
    .modal-header {
        font-size: 2.5rem;
        top: 11%;
        z-index: 2;
        left: 60%;
    }

}
@media (max-width: 1856px) and (min-width: 1680px) {
    .container {
        height: 65%;
        font-size: 0;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        left: 21%;
    }
    .col-lg-8 {
        width: 58.666667%;
        left: 24%;
    }

}
@media (max-width: 1679px) and (min-width: 1577px) {
    .container {
        height: 68%;
    }
    .col-lg-8 {
        width: 67.666667%;
        left: 19%;
    }


}
@media (max-width: 1576px) and (min-width: 1388px) {
    .container {
        height: 62%;
        bottom: 3%
    }
    .playAgain {
        left: 60%;
        bottom: 38%;
    }
}
@media (max-width: 1387px) and (min-width: 1281px) {
    .container {
        height: 60%;
        width: 74%;
        bottom: 3%;
        left: 14%;
    }
}

@media (max-width: 1280px) and (min-width: 980px)  and (min-height: 723px) {
    .container {
        height: 57%;
        bottom: 3%;
        left: 11%;
        width: 86%;
    }
    .playAgain{
        left: 60%;
        bottom: 25%;
    }

}
@media only (max-width: 979px) and (min-width: 751px) and (min-height: 723px) {

}


@media (min-width: 1280px) and (max-height: 722px) {
    .col-lg-9 {
        width: 61%;
    }
    .container {
        left: 18%;
    }

}
@media (min-width: 1200px) and (max-height: 722px) {
    .col-lg-9 {
        width: 61%;
    }
}
@media (max-width: 1999px) and (min-width: 992px) and (max-height: 722px) and (min-height: 720px) {
    .col-md-9 {
        width: 71%;
    }
    .playAgain{
        left: 60%;
        bottom: 35%;
    }
}
@media (max-width: 991px) and (min-width: 768px) and (max-height: 722px) {
    .col-sm-10 {
        width: 79.333333%;
    }
    .container {
        height: 77%;
        font-size: 0;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        left: 7%;
        margin: 0;
    }
    .accuracy {
        padding-right: 27%;
    }
    .attempts {
        padding-right: 22%;
    }
    .modal-header {
        font-size: 1.6rem;
        top: 0%;
        left: 60%;
    }
    .playAgain {
        font-size: 1.6rem;
        left: 62%;
        bottom: 29%;

    }

}
@media (max-width: 991px) and (min-width: 768px) and (max-height: 722px) {
    .col-sm-10 {
        width: 79.333333%;
    }
    .container {
        height: 77%;
        font-size: 0;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        left: 7%;
        margin: 0;
    }
    .accuracy {
        padding-right: 27%;
    }
    .attempts {
        padding-right: 22%;
    }
    .modal-header {
        font-size: 1.6rem;
        top: 0%;
        left: 60%;
    }
    .playAgain {
        font-size: 1.6rem;
        left: 62%;
        bottom: 29%;

    }

}
@media (max-width: 991px) and (min-width: 768px) and (min-height: 723px) {
    .col-sm-10 {
        width: 79.333333%;
    }
    .container {
        height: 48%;
        font-size: 0;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        left: 7%;
        bottom: 6%;
        margin: 0;
    }
    .accuracy {
        padding-right: 27%;
    }
    .attempts {
        padding-right: 22%;
    }
    .modal-header {
        font-size: 1.6rem;
        top: 0%;
        left: 60%;
    }
    .playAgain {
        font-size: 1.6rem;
        left: 62%;
        bottom: 29%;

    }

}
@media (max-width: 767px) and (min-width: 599px) and (max-height: 722px) {
    .col-xs-12 {
        width: 99%;
    }
    .container {
        height: 65%;
        font-size: 0;
        left: 3%;
    }
    .attempts {
        padding-right: 21%;
        right: 16%;
    }
    .accuracy {
        padding-right: 26%;
        right: 11%;
    }
    .firstReset {
        right: 64%;
        position: relative;
        top: 28px;
        text-align: center;
    }
    .winnerModal {
        left: 23%;
        top: 24%;
        width: 46%;
    }
    .playAgain {
        font-size: 1.8rem;
        left: 58%;
        bottom: 27%;

    }
    .modal-header {
        font-size: 1.8rem;
        top: 11%;
        left: 57%;
    }



}
@media (max-width: 767px) and (min-width: 599px) and (min-height: 722px) {
    .col-xs-12 {
        width: 99%;
    }
    .container {
        height: 44%;
        font-size: 0;
        left: 5%;
        bottom: 9%;
    }
    .attempts {
        padding-right: 21%;
        right: 16%;
    }
    .accuracy {
        padding-right: 26%;
        right: 11%;
    }
    .firstReset {
        right: 64%;
        position: relative;
        top: 28px;
        text-align: center;
    }
    .winnerModal {
        left: 23%;
        top: 24%;
        width: 46%;
    }
    .playAgain {
        font-size: 1.8rem;
        left: 58%;
        bottom: 27%;

    }
    .modal-header {
        font-size: 1.8rem;
        top: 11%;
        left: 57%;
    }



}


@media screen and (max-width: 750px ) and (min-width: 605px) and (orientation: portrait)  {
    .container {
        height: 41%;
        width: 57%;
        bottom: 19%;
        font-size: 0;
        background-size: 100% 100%;
        left: 28%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .cardContainer {
        width: 25.6%;
        height: 32.33%;
        display: inline-block;
        position: relative;
        float: left;
    }
    .card {
        width: 92%;
        height: 95%;
        display: inline-block;
        position: absolute;
        margin: 0;
    }
    .attempts {
        padding-right: 21%;
        right: 30%;
    }
    .reset {
        top: 30%;
        left: 0%;
    }
    .gif {
        width: 331px;
        right: 11%;
    }
    .modal-header {
        font-size: 2rem;
        top: -5%;
        z-index: 2;
        left: 57%;
        width: 50%;
    }
    .playAgain {
        left: 60%;
        bottom: 30%;
        width: 50%;
    }
    .gameStats {
        font-size: 1.9rem;
        left: 16%;
        bottom: 8%;
    }
    .accuracy {
        right: 17%;
    }


}
@media screen and (max-width: 604px) and (min-width: 400px) and (min-height: 723px) and (orientation: portrait) {
    .container {
        height: 41%;
        width: 57%;
        bottom: 19%;
        font-size: 0;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        left: 21%;
        margin: 0;
    }
    .cardContainer {
        width: 32.6%;
        height: 33.33%;
    }
    .title {
        height: 87%;
        width: 118%;
        font-size: 0;
    }
    .gameStats {
        font-size: 1.3rem;
        left: 6%;
        bottom: 8%;
    }
    .attempts {
        right: 15%;
        padding-right: 16%;
        position: relative;
    }
    .accuracy {
        padding-right: 16%;
        position: relative;
        right: 6%;
    }
    #modal {
        width: 59%;
        left: 15%;
    }
    .modal-header {
        font-size: 1.8rem;
        left: 57%;
    }
    .playAgain {
        font-size: 1.8rem;
        top: 61%;
    }


}
@media screen and (max-width: 604px) and (min-width: 400px) and (max-height: 722px) and (orientation: portrait) {
    .container {
        height: 39%;
        width: 43%;
        bottom: 19%;
        font-size: 0;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        left: 28%;
        margin: 0;
    }
    .cardContainer {
        width: 32.6%;
        height: 33.33%;
    }
    .title {
        height: 87%;
        width: 118%;
        font-size: 0;
    }
    .gameStats {
        font-size: 1.3rem;
        left: 16%;
        bottom: 8%;
    }
    .attempts {
        right: 15%;
        padding-right: 16%;
        position: relative;
    }
    .accuracy {
        padding-right: 16%;
        position: relative;
        right: 6%;
    }
    #modal {
        width: 59%;
        left: 15%;
    }
    .modal-header {
        font-size: 1.8rem;
        left: 57%;
    }
    .playAgain {
        font-size: 1.8rem;
        top: 61%;
    }


}

/*@media screen and (orientation: portrait)  {*/

/*}*/
/*galaxy s5*/

@media only screen and (max-height: 641px) and (min-height: 639px) and (max-width: 361px) and (min-width: 359px) and  (orientation: portrait) {
    .container {
        height: 35%;
        left: 1%;
        bottom: 19%;
    }
    .cardContainer {
        width: 16.6%;
        height: 33.33%;
    }
    .card {
        width: 95%;
        height: 96%;
    }
    .title {
        height: 53%;
        width: 106%;
        left: 2%;
        bottom: 6%;
    }
    .gameStats {
        font-size: 1rem;
    }
    .reset {
        font-size: .6rem;
        top: 14%;
        left: 5%;
    }
    .attempts {
        right: 30%;
    }
    .accuracy {
        right: 22%;
    }
    .gif {
        width: 233px;
        right: 56%;
    }
    .modal-header {
        font-size: 1.4rem;
        z-index: 2;
        left: 53%;
        width: 79%;
        bottom: 50%;
    }
    .playAgain {
        font-size: 1.4rem;
        width: 72%;
        left: 55%;
        bottom: 21%;
        color: white;

    }

}
@media screen and (max-width: 641px) and (min-width: 639px) and (max-height: 361px) and (min-height: 359px) and (orientation: landscape) {
    .container {
        width: 78%;
        height: 75%;
        font-size: 0;
        left: 11%;
    }
}



/*pixel*/
@media only screen and (max-height: 361px) and (min-height: 359px) and (orientation: landscape) {
    .gameStats {
        font-size: 1.4rem;
    }
    .reset {
        font-size: .9rem;
        top: 30%;
        left: -5%;

    }
}
@media only screen and (max-width: 412px) and (min-width: 410px) and (orientation: portrait) {
    .container {
        height: 41%;
        width: 67%;
        bottom: 22%;
    }
    .reset {
        font-size: 1rem;
        left: 16%;

    }
    .title {
        height: 57%;
        width: 100%;
        font-size: 0;
    }
    .modal-header {
        font-size: 1.5rem;
        top: -7%;
        left: 51%;
    }
    .playAgain {
        font-size: 1.5rem;
        top: 59%;
        left: 53%;
        width: 39%;
    }
}
/*pixel side*/
@media only screen and (max-width: 732px) and (min-width: 730px) and (max-height: 412px) and (min-height: 410px) and (orientation: landscape) {
    .reset {
        top: 30%;
        left: -1%;

    }
    .gameStats {
        font-size: 2rem;
        position: relative;
        left: 16%;
        bottom: 8%;
    }
    .container {
        height: 61%;
        width: 68%;
        font-size: 0;
        left: 18%;
    }

}
/*pixel x2*/

@media only screen and (max-height: 824px) and (min-height: 822px) and (orientation: portrait) {
    .container {
        height: 41%;
        width: 75%;
        bottom: 22%;
        left: 15%;
    }
}

@media only screen and (max-width: 824px) and (min-width: 822px) and (max-height: 412px) and  (min-height: 410px) {
    .container {
        height: 71%;
        width: 70%;
        left: 18%;
        margin: 0;
    }
    .gameStats {
        font-size: 1.9rem;
    }
}


/*iphone 5/SE*/

@media only screen and (max-width: 321px) and (min-width: 319px) and (max-height: 569px) and (min-height: 567px) and (orientation: portrait) {
    .container {
        bottom: 18%;
        height: 39%;
        left: 1%;
        margin: 0;
    }
    .cardContainer {
        width: 16.6%;
        height: 29.33%;

    }
    .title {
        height: 58%;
        width: 120%;
        bottom: 10%;
        padding-right: 0%;
        left: -19%;
    }
    .gameStats {
        font-size: 1.2rem;
        left: 7%;
        bottom: 8%;
    }
    .gameStats {
        font-size: 1.2rem;
        left: 7%;
        bottom: 8%;
    }
    .attempts {
        padding-right: 16%;

        right: 26%;
    }
    .accuracy {
        padding-right: 16%;
        right: 11%;

    }
    .reset {
        font-size: .7rem;
        top: 15%;
        left: 11%;

    }
    .gif {
        width: 257px;
        border-radius: 50%;
        z-index: 1;
        right: 70%;
    }
    .modal-header {
        font-size: 1.5rem;
        width: 97%;
        left: 60%;
    }
    .playAgain {
        font-size: 1.5rem;
        left: 66%;
        bottom: 20%;
        width: 87%;
    }

}
/*iphone5/se*/

@media only screen and (max-width: 569px) and (min-width: 567px) and (max-height: 321px) and (min-height: 319px) and (orientation: landscape) {
    .container {
        height: 78%;
        width: 79%;
        font-size: 0;
        left: 17%;
        margin: 0;
    }
    .gameStats{
        font-size: 1.3rem;
    }
    .attempts {
        right: 19%;
    }
    .accuracy {
        right: 9%;
    }
    .reset {
        font-size: .7rem;
        top: 17%;
        left: 5%;
    }
    .gif {
        width: 257px;
        border-radius: 50%;
        z-index: 1;
        right: 24%;
    }
    .playAgain {
        font-size: 1.5rem;
        left: 45%;
        bottom: 20%;
        width: 87%;
    }
    .modal-header {
        font-size: 1.5rem;
        width: 52%;
        left: 43%;
        top: -3%;
    }

}
/*iphone 6/7/8*/

@media only screen and (max-height: 668px) and (min-height: 666px) and (max-width: 376px) and (min-width: 374px) and (orientation: portrait) {
    .container {
        height: 34%;
        left: 2%;
        bottom: 15%;
    }
    .container {
        height: 42%;
        width: 91%;
        left: 13%;
        bottom: 22%;
    }
    .gameStats {
        font-size: 1.3rem;
    }
    .attempts {
        right: 34%;
    }
    .title {
        height: 44%;
        width: 91%;
        bottom: 59%;
        position: absolute;
    }
    .accuracy {
        right: 19%;
        padding-right: 16%;
    }
    .reset {
        font-size: .8rem;
    }
    .gif {
        width: 257px;
        border-radius: 50%;
        z-index: 1;
        right: 70%;
    }
    .modal-header {
        font-size: 1.5rem;
        width: 77%;
        left: 44%;
        top: 0px;
    }
    .playAgain {
        font-size: 1.5rem;
        left: 50%;
        bottom: 20%;
        width: 87%;
    }
    .cardContainer {
        width: 25.6%;

    }

}

/*iphone 6/7/8 side view */
@media only screen and (max-width: 668px) and  (min-width: 666px) and (max-height: 376px) and (min-height: 374px) and (orientation: landscape)  {
    .container {
        height: 65%;
        font-size: 0;
        left: 17%;
        width: 71%;
    }
    .gameStats {
        font-size: 1.9rem;
    }
    .attempts {
        right: 27%;
    }
    .reset {
        left: 0%;
    }
}

/*iphone 6/7/8 plus */

@media only screen and (max-width: 415px) and (min-width: 413px) and (max-height: 737px) and (min-height: 735px) and (orientation: portrait)  {
    .container {
        height: 41%;
        width: 67%;
        bottom: 21%;
        left: 21%;
        margin: 0;
    }
    .title {
        height: 56%;
        width: 100%;
        bottom: 20px;
        font-size: 0;
    }
    .reset {
        font-size: .9rem;
        top: 30%;
        left: 13%;
    }
    .gif {
        width: 257px;
        border-radius: 50%;
        z-index: 1;
        right: 70%;
    }
    .modal-header {
        font-size: 1.5rem;
        width: 38%;
        left: 50%;
        top: 0px;
    }
    .playAgain {
        font-size: 1.5rem;
        left: 50%;
        bottom: 20%;
        width: 87%;
    }
    .modal-header {
        font-size: 1.5rem;
        width: 77%;
        left: 44%;
        top: 0px;
    }
    .playAgain {
        font-size: 1.5rem;
        left: 50%;
        bottom: 20%;
        width: 87%;
    }
}
@media only screen and (max-width: 737px) and (min-width: 735px) and (max-height: 415px) and (min-height: 413px) and (orientation: landscape) {
    .container {
        height: 65%;
        width: 67%;
        font-size: 0;
        left: 19%;
    }
}

/*iphonex*/

@media only screen and (max-height: 813px) and (min-height: 811px) and (max-width: 376px) and (min-width: 374px) and (orientation: portrait) {
    .container {
        height: 42%;
        left: 12%;
        bottom: 23%;
    }
    .cardContainer {
        width: 25.6%;
        height: 33.33%;
    }
    .title {
        height: 60%;
        width: 135%;
        left: 2%;
        bottom: 14%;
    }
    .gameStats {
        font-size: 1.4rem;
        position: relative;
        left: 2%;
        bottom: 8%;
    }
    .reset {
        font-size: .9rem;
    }
    .attempts {
        right: 6%;

    }
    .accuracy {
        left: 16px;
    }
}

/*iphone x side view*/

@media only screen and (max-width: 813px) and (min-width: 811px) and (max-height: 376px) and (min-height: 374px) and (orientation: landscape) {
    .container {
        height: 67%;
        width: 60%;
        left: 22%;
    }
    .gameStats {
        font-size: 1.7rem;
        left: 3%;
        bottom: 8%;
    }
    .accuracy {
        left: 12%;
    }
    .reset {
        left: 23%;
    }
}

/*ipad regular*/

@media only screen and (max-width: 769px) and (min-width: 767px) and (max-height: 1025px) and (min-height: 1023px) and (orientation: portrait) {
    .container {
        height: 46%;
        width: 100%;
        left: 4%;
        bottom: 6%;
    }
    .title {
        height: 88%;
        width: 100%;
        left: 2%;
        bottom: 6%;
    }
    .attempts {
        right: 18%;
    }
    .accuracy {
        right: 5%;
    }

}
/*ipad pro*/

@media only screen and (max-width: 1025px) and (min-width: 1023px) and (max-height: 1367px) and (min-height: 1365px) and (orientation: portrait) {
    .container {
        height: 44%;
        bottom: 8%;
        left: 7%;
        width: 95%;
    }
    .attempts {
        right: 12%;
        padding-right: 16%;
    }
    .reset {
        left: 14%;

    }
}

@media only screen and (max-width: 501px) and (min-width: 499px) and  (max-height: 979px) and (min-height: 777px) and (orientation: portrait) {
    .container {
        height: 32%;

    }
    .winnerModal {
        left: 21%;
        top: 28%;
        width: 58%;
    }
    .modal-header {
        font-size: 1.7rem;
        left: 56%;
    }
    .playAgain{
        font-size: 1.7rem;
        left: 56%;
        bottom: 19%;
    }
}
@media only screen and (max-width: 1366px) and (min-width: 1281px) and (max-height: 707px ) and (min-height: 638px) and (orientation: landscape) {
    .col-md-9 {
        width: 63%;
        left: 20%;
        height: 70%;
        top: 0%;
    }
    .playAgain {
        font-size: 2rem;
        left: 60%;
        bottom: 34%;

    }
}


@media only screen and (max-width: 500px) and (max-height: 499px) and (min-height: 296px) {
    .container {
        height: 66%;
        width: 79%;
        left: 12%;
        margin: 0;
        bottom: 5px;
    }
    .gameStats {
        font-size: 1.5rem;
    }
    .attempts {
        right: 30%;
    }
    .accuracy {
        right: 12%;
        padding-right: 16%;
    }
    .gif {
        width: 232px;
    }
    .modal-header {
        font-size: 1.3rem;
        left: 74%;
        width: 53%;
    }
    .playAgain {
        font-size: 1.3rem;
        width: 49%;
        left: 77%;
        bottom: 23%;

    }
}

@media only screen and (max-width: 1441px) and (min-width: 1399px) and (max-height: 746px) and (min-height: 744px) and (orientation: landscape) {
    .container {
        left: 24%;
        width: 56%;
    }

}

@media only screen and (max-width: 1025px) and (min-width: 1023px) and (max-height: 635px) and (min-height: 633px) {
    .container {
        height: 77%;
        width: 79%;
        left: 14%;
        margin: 0;
    }
}

@media only screen and (max-width: 769px) and (min-width: 767px) and (max-height: 635px) and (min-height: 633px) {
    .container {
        height: 67%;
        width: 100%;
        left: 7%;
    }
    .attempts {
        right: 22%;
    }
    .accuracy {
        right: 8%;
    }
}
@media only screen and (max-width: 426px) and (min-width: 424px) and (max-height: 915px) and (min-height: 913px) {
    .container {
        height: 38%;
        width: 72%;
        bottom: 19%;
        font-size: 0;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        left: 17%;
        margin: 0;
    }
    .gameStats {
        left: 10%;
    }
    .reset {
        font-size: 1rem;
        top: 30%;
        left: 12%;
    }
}

@media only screen and (max-width: 376px) and (min-width: 374px) and (max-height: 915px) and (min-height: 913px) {
    .container {
        height: 40%;
        width: 78%;
        left: 12%;
        bottom: 20%;
    }
    .cardContainer {
        width: 32.6%;
        height: 33.33%;

    }
    .title {
        height: 67%;
        width: 109%;
        left: 2%;
        bottom: 6%;
    }
    .gameStats {
        font-size: 1.5rem;
    }
    .attempts {
        right: 26%;
    }
    .accuracy {
        right: 11%;
    }
    .reset {
        font-size: .9rem;
        left: 18%;
    }
}
