.body-container {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.game-container {
    margin: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(./images/225679.jpg);
    background-size: cover;
    overflow-y: hidden;
    display: flex;
    flex-flow: row wrap;
}
.cursorPointer {
    cursor: pointer;
}
.playAgain {
    font-size: 2rem;
    position: absolute;
    left: 58%;
    bottom: 48%;
    z-index: 2;
    font-weight: 600;
    color: white;
    text-decoration: none;
    outline: 0;
    color: white;
    border-bottom: solid 4px transparent;
    -webkit-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    -moz-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    -ms-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    -o-transition: color .2s ease-out, border-bottom-color .2s ease-out;
    transition: color .2s ease-out, border-bottom-color .2s ease-out;
}
.playAgain:hover{
    color: white;
    border-bottom: solid 4px white;;
}

.headerContainer {
    width: 100%;
    height: 16%;
    font-family: cursive;
    color: white;
    padding-bottom: 0px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    top: 49px;
}
.modal-header {
    /*font-family: cursive;*/
    color: white;
    justify-content: center;
    font-size: 2rem;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    top: 11%;
    z-index: 2;
    left: 60%;
}
.stats{
    height: 65%;
    width: 15%;
    vertical-align: top;
    background-color: black;
    display: block;
    position: relative;
    left: 4%;
}
#modal {
    display: none;
    z-index: 1;
}
.gif{
    width: 100%;
    /*height: 46%;*/
    position: relative;
    /*top: -63px;*/
    border-radius: 50%;
    z-index: 1;
}

.gameStats {
    font-size: 1.9rem;
    width: 45%;
    /* background-color: black; */
    position: relative;
    /* bottom: 118px; */
    left: 26%;
    /* bottom: 66%; */
    bottom: 30%;
}


.winnerModal {
    position: absolute;
    left: 35%;
    top: 24%;
    display: block;
    /*background-color: black;*/
    width: 32%;
    /*transform: translate(-50%, -50%);*/
    /*left: 368px;*/
    /*top: 131px;*/
    /*height: 370px;*/
    /*width: 610px;*/
    /*background-color: black;*/
    /*display: block;*/
}
/*.title-background {*/
    /*background-color: black;*/
    /*opacity: 0.2;*/
/*}*/
.title {
    height: 100%;
    font-size: 0;
    width: 24%;
    display: block;
    position: relative;
    left: 2%;
    /* background-color: red; */
    bottom: 17%;
}
.container {
    top: 55%;
    height: 70%;
    /* font-size: 0; */
    width: 64%;
    position: absolute;
    left: 53%;
    transform: translate(-50%, -50%);
    display: inline-block;
}
.cardContainer {
    height: 38%;
    width: 16%;
    display: inline-block;
}
.card{
    height: 96%;
    /* width: 95%; */
    background-color: yellow;
    position: relative;
    /* top: 10%; */
    /* left: 57%; */
    width: 96%;
}

.back{

    background-image: url(https://ih0.redbubble.net/image.464594985.4222/flat,1000x1000,075,f.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}
.back, .front{
    height: 100%;
    position: absolute;
    width: 100%;


}
.front {
    background-size: cover;
    background-repeat: no-repeat;

}


.flipCard .back{
    display: none;
}

/*.attempts {*/
    /*position: relative;*/
    /*!* left: 37%; *!*/
    /*width: 42%;*/
    /*!* top: 110px; *!*/
    /*!*background-color: aliceblue;*!*/
/*}*/


.attempts {
    position: relative;
    left: 41%;
    width: 42%;
    top: 21%;
    /* top: 110px; */
    /* background-color: aliceblue; */
}
.accuracy {
    position: relative;
    width: 58%;
    left: 76%;
    bottom: 20px;
}
.gameButton {
    padding-top: 72px;
    position: absolute;
    width: 55%;
    bottom: 33px;
    left: 220px;
    height: 31px;
    justify-content: center;
    border-radius: 12px;


}

.myResetButton{
    background-color: gold;
    position: relative;
    left: 11%;
    padding: 3%;
    font-size: small;
    box-shadow: 0px 1px 1px 1px black;

}
.playingContainer {
    top: 55%;
    height: 70%;
    /* font-size: 0; */
    width: 64%;
    position: absolute;
    left: 53%;
    transform: translate(-50%, -50%);
    display: inline-block;
    /*height: 80%;*/
    /*margin: 0;*/
    /*font-size: 0;*/
    /*display: inline-block*/
}

@media  screen and (max-width: 978px) and (min-width: 747px) and (orientation: portrait) {
    .game-container {
        margin: 0px;
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url(./images/225679.jpg);
        background-size: cover;
        overflow-y: scroll;
        display: flex;
        flex-flow: row wrap;
    }
    .container {
        top: 54%;
        height: 73%;
        width: 49%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .cardContainer {
        height: 25%;
        width: 33%;
        display: inline-block;
        margin: 0px;
        font-size: 0px;
    }

}
@media only screen and (max-width: 746px) and (min-width: 661px) and (orientation: portrait) {
    .container {
        top: 45%;
        height: 44%;
        width: 69%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .cardContainer {
        height: 39%;
        width: 27%;
        display: inline-block;
    }
    .game-container {
      overflow-y: scroll;
    }

}
@media screen and (max-width: 1779px) and (min-width: 1680px) and (orientation: landscape) {
    .container {
        top: 55%;
        height: 62%;
    }
}
@media screen and  (max-width: 1679px) and (min-width: 1487px) and (orientation: landscape) {
    .container {
        top: 55%;
        height: 68%;
        /* font-size: 0; */
        width: 67%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .modal-header {
        font-size: 1.8rem;
    }
    .playAgain {
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 1486px) and (min-width: 1346px) and (orientation: landscape) {
    .container {
        top: 55%;
        height: 58%;
        width: 67%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .modal-header {
        font-size: 1.7rem;
    }
    .playAgain {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 1345px) and (min-width: 1281px) and (orientation: landscape) {
    .container {
        top: 58%;
        height: 61%;
        /* font-size: 0; */
        width: 76%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .modal-header {
        font-size: 1.7rem;
    }
    .playAgain {
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 1280px) and (min-width: 976px) and (orientation: landscape) {
    .container {
        top: 55%;
        height: 55%;
        width: 73%;
    }
    .modal-header {
        font-size: 1.6rem;
    }
    .playAgain {
        font-size: 1.6rem;
    }

}


/*@media only screen and (max-width: 1281px) and ()*/
@media screen and (max-width: 660px) and (min-width: 592px) and (orientation: portrait) {
    .container {
        top: 46%;
        height: 46%;
        /* font-size: 0; */
        width: 68%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .cardContainer {
        height: 41%;
        width: 32%;
        display: inline-block;
    }
    .game-container {
        overflow-y: scroll;
    }

}
@media screen and (max-width: 591px) and (min-width: 420px) and (orientation: portrait) {
    .container {
        top: 46%;
        height: 43%;
        /* font-size: 0; */
        width: 68%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .cardContainer {
        height: 41%;
        width: 32%;
        display: inline-block;
    }
    .game-container {
        overflow-y: scroll;
    }
}


@media screen and (max-width: 419px) and (min-width: 399px) and (orientation: portrait)  {
    .container {
        top: 46%;
        height: 43%;
        /* font-size: 0; */
        width: 93%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .cardContainer {
        height: 41%;
        width: 32%;
        display: inline-block;
    }
    .game-container {
        overflow-y: scroll;
    }
}



/*galaxy s5*/

@media screen and (max-width: 360px) and (min-width: 359px) and (orientation: portrait) {
    .cardContainer {
        height: 33%;
        width: 16%;
        display: inline-block;
    }
    .container {
        top: 55%;
        height: 38%;
        /* font-size: 0; */
        width: 101%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .title {
        height: 100%;
        font-size: 0;
        width: 49%;
        display: block;
        position: relative;
        left: 27%;
        /* background-color: red; */
        top: 37%;
    }
    .gameStats {
        font-size: 1.2rem;
        left: 0%;
        width: 50%;
    }
    .attempts {
        position: relative;
        right: 84%;
        width: 75%;
    }
    .accuracy {
        position: relative;
        left: 25%;
        bottom: 29px;
        width: 74%;
    }

}
/*pixel 2*/

@media only screen and (max-height: 732px) and (min-height: 730px) and (max-width: 412px) and (min-width: 410px) and (orientation: portrait) {
    .container {
        top: 55%;
        height: 37%;
        /* font-size: 0; */
        width: 99%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .cardContainer {
        height: 34%;
        width: 16%;
        display: inline-block;
    }
    .title {
        height: 100%;
        font-size: 0;
        width: 50%;
        display: block;
        position: relative;
        left: 27%;
        /* background-color: red; */
        top: 36%;
    }
    .gameStats {
        font-size: 1.4rem;
        width: 50%;
        /* background-color: black; */
        position: relative;
        /* bottom: 118px; */
        left: 0%;
        /* bottom: 66%; */
        bottom: 30%;
    }
    .attempts {
        position: relative;
        width: 61%;
        right: 78%;
    }
    .accuracy {
        position: relative;
        width: 80%;
        /* left: 37%; */
        /* top: 105px; */
        left: 18%;
        bottom: 33px;
    }
}

/*galaxy side view */
@media only screen and (max-width: 641px) and (min-width: 639px) and (orientation: landscape) {
    .headerContainer {
        top: 12px;
    }
    .container {
        top: 55%;
        height: 69%;
        width: 73%;
        left: 53%;
    }
    .gameStats {
        font-size: 1.2rem;
        width: 45%;
        position: relative;
        left: 26%;
        bottom: 30%;
    }
    .attempts {
        position: relative;
        left: 15%;
        width: 42%;
        top: 19%;
        /* background-color: aliceblue; */
    }
    .accuracy {
        position: relative;
        width: 58%;
        left: 55%;
        bottom: 20px;
    }

}

/*pixel 2 */

@media only screen and (max-width: 731px) and (min-width: 730px) and  (orientation: landscape) {
    .headerContainer {
        top: 14px;
    }
    .container {
        top: 55%;
        height: 70%;
        width: 72%;
    }
    .gameStats {
        font-size: 1.3rem;
    }
    .accuracy {
        width: 58%;
        left: 52%;
        bottom: 21px;
    }
    .attempts {
        left: 13%;
        top: 20%;
        width: 42%;

    }

}

/*pixel 2*/
@media only screen and (max-height: 824px) and (min-height: 822px) and (orientation: portrait) {
    .container {
        top: 39%;
        height: 33%;
        /* font-size: 0; */
        width: 62%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .gameStats {
        font-size: 1.4rem;
        left: 0%;
        bottom: 30%;
        width: 55%;
    }
    .attempts {
        width: 50%;
        right: 62%;
    }
    .accuracy {
        position: relative;
        width: 58%;
        /* left: 37%; */
        /* top: 105px; */
        left: 30%;
        bottom: 35px;
    }
    .title {
        height: 78%;
        font-size: 0;
        width: 45%;
        display: block;
        position: relative;
        left: 27%;
        /* background-color: red; */
        top: 8%;
    }


}

/*pixel 2 xl side view */
@media only screen and (max-width: 823px) and (min-width: 822px) {
    .headerContainer {
        top: 11px;
    }
    .gameStats {
        font-size: 1.3rem;
    }
    .attempts {
        left: 29%;
        width: 42%;
        top: 22%;
    }
    .accuracy {
        left: 65%;
        bottom: 16px;
    }
}

/*iphone5*/
@media only  screen and (max-height: 569px) and (min-height: 567px) and (max-width: 321px) and (min-width: 319px) and (orientation: portrait) {
    .container {
        top: 50%;
        height: 34%;
        /* font-size: 0; */
        width: 97%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .title {
        height: 84%;
        font-size: 0;
        width: 52%;
        display: block;
        position: relative;
        left: 21%;
        /* background-color: red; */
        top: 37%;
    }
    .gameStats {
        font-size: 1rem;
        width: 47%;
        position: relative;
        /* bottom: 118px; */
         left: 0%;
        /* bottom: 66%; */
        bottom: 30%;
        /*right: 50%;*/
    }
    .attempts {
        right: 92%;
        width: 63%;
    }
    .accuracy {
        position: relative;
        width: 94%;
        /* left: 37%; */
        /* top: 105px; */
        left: 9%;
        bottom: 24px;
    }
}
/*iphone 5 sideview*/

@media only screen and (max-width: 569px) and (min-width: 567px) and (orientation: landscape) {
    .container {
        top: 60%;
        height: 58%;
        /* font-size: 0; */
        width: 58%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .headerContainer {
        top: 24px;
    }
    .gameStats {
        font-size: 1.2rem;
    }
    .accuracy {
        width: 58%;
        left: 47%;
        bottom: 49%;

    }
}

/*iphone6*/

@media only screen and (max-width: 376px) and (min-width: 374px) and (orientation: portrait )  {
    .container {
        top: 55%;
        height: 32%;
        /* font-size: 0; */
        width: 99%;
        position: absolute;
        left: 52%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .title {
        height: 94%;
        font-size: 0;
        width: 49%;
        display: block;
        position: relative;
        left: 24%;
        /* background-color: red; */
        top: 45%;
    }
    .gameStats {
        font-size: 1.2rem;
        width: 45%;
        left: 0%;

        bottom: 30%;
    }
    .attempts {
        position: relative;
        width: 66%;
        right: 87%;
    }
    .accuracy {
        position: relative;
        width: 90%;
        /* left: 37%; */
        /* top: 105px; */
        left: 16%;
        bottom: 30px;
    }

}
/*iphone 6 regular side view **/

@media only screen and (max-width: 668px) and (min-width: 666px) and (orientation: landscape) {
    .container {
        top: 57%;
        height: 60%;
         font-size: 0;
        width: 66%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .headerContainer {
        width: 100%;
        height: 16%;
        font-family: cursive;
        color: white;
        padding-bottom: 0px;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        top: 20px;
    }
    .gameStats {
        font-size: 1.2rem;
        width: 45%;
        left: 26%;
        bottom: 30%;
    }
    .accuracy {
        bottom: 48%;
    }

}

/*iphone6/7*/
@media only screen and (max-width: 415px) and (min-width: 413px) {
    .container {
        top: 40%;
        height: 30%;
        /* font-size: 0; */
        width: 54%;
        position: absolute;
        left: 52%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .title {
        height: 74%;
        font-size: 0;
        width: 42%;
        display: block;
        position: relative;
        left: 25%;
        /* background-color: red; */
        top: 20%;
    }
    .gameStats {
        font-size: 1.2rem;
        width: 45%;
        /* background-color: black; */
        position: relative;
        /* bottom: 118px; */
        /* left: 26%; */
        /* bottom: 66%; */
        bottom: 30%;
        left: 0%;
    }
    .attempts {
        width: 53%;
        right: 78%;
    }
    .accuracy {
        position: relative;
        width: 83%;
        /* left: 37%; */
        /* top: 105px; */
        left: 42%;
        bottom: 30px;
    }
}
/*iphonex*/

@media only screen and (max-height: 813px) and (min-height: 811px) {
    .container {
        top: 49%;
        height: 27%;
        /* font-size: 0; */
        width: 100%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
}

/*iphonex side view */

@media only screen and (max-width: 813px) and (min-width: 811px) and  (orientation: landscape ) {
    .container {
        top: 55%;
        height: 58%;
        width: 54%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .gameStats {
        font-size: 1.2rem;
        width: 45%;
        position: relative;
        left: 26%;
        bottom: 30%;
    }
    .accuracy {
        width: 58%;
        left: 68%;
        bottom: 25px;
    }
    .attempts {
        position: relative;
        width: 42%;
        left: 28%;
        top: 8%;
    }
    .title {
        bottom: 39%;
        height: 100%;
        width: 24%;
        display: block;
        position: relative;
        left: 2%;
    }
    .headerContainer {
        top: 17px;
    }
}

/*iphone 6/7 side view */
@media only screen and (max-width: 737px) and (min-width: 735px) and (orientation: landscape) {
    .title {
        top: 0%;
        width: 19%;
    }
    .gameStats {
        font-size: 1.3rem;
    }
    .accuracy {
        width: 58%;
        left: 64%;
        bottom: 29%;
    }
    .attempts {
        left: 24%;
        width: 43%;
        top: 23%;
    }
    .headerContainer {
        top: 4%;
    }

}

/*ipad*/
@media only screen and (max-height: 1025px) and (min-height: 1023px) and (max-width: 769px) and (min-width: 767px) {
    .container {
        top: 54%;
        height: 43%;
        width: 91%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }
    .cardContainer {
        height: 35%;
        width: 16%;
        display: inline-block;
        margin: 0px;
        font-size: 0px;
    }
    .title {
        height: 100%;
        font-size: 0;
        width: 38%;
        display: block;
        position: relative;
        left: 31%;
        /* background-color: red; */
        top: 41%;
    }
    .gameStats {
        font-size: 1.9rem;
        width: 45%;
        position: relative;
        left: 0%;
        bottom: 30%;
    }
    .attempts {
        position: relative;
        /* left: 37%; */
        width: 42%;
        /* top: 110px; */
        /* background-color: aliceblue; */
        right: 67%;
        top: 17%;
    }
    .accuracy {
        position: relative;
        width: 66%;
        /* left: 37%; */
        /* top: 105px; */
        left: 71%;
        bottom: 16px;
    }
}

/*ipad side view */
@media only screen and (max-width: 1025px) and (min-width: 1023px) {
    .container {
        top: 55%;
        height: 56%;
        width: 78%;
    }
}

/*ipad pro*/

@media only screen and (max-width: 1025px) and (min-width: 1023px) and (orientation: portrait) {
    .container {
        top: 55%;
        height: 41%;
        width: 100%;
    }
    .title {
        height: 100%;
        font-size: 0;
        width: 44%;
        display: block;
        position: relative;
        left: 29%;
        /* background-color: red; */
        top: 39%;
    }
    .gameStats {
        font-size: 2.4rem;
        width: 45%;
        left: 0%;

    }
    .attempts {
        position: relative;
        /* left: 37%; */
        width: 46%;
        top: 20%;
        /* background-color: aliceblue; */
        right: 82%;
    }
    .accuracy {
        position: relative;
        width: 65%;
        left: 42%;
        bottom: 13px;
    }


}

@media only screen and (max-width: 1367px) and (min-width: 1365px) and (orientation: landscape ) {
    .container {
        top: 55%;
        height: 58%;
        /* font-size: 0; */
        width: 81%;
        position: absolute;
        left: 53%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: wrap;
    }

    .accuracy {
        width: 58%;
        left: 70%;
        bottom: 22px;
    }

    .attempts {
        width: 42%;
        top: 17%;
        left: 26%;
    }
}

